<!doctype html>

<html>
<head>
<meta charset="utf-8"></meta>
<title>Create new user</title>

<link rel="stylesheet" href="style.css"></link>
</head>
<body class="usermenu">
  <div>
  <form action="admin">
  Users name
  <br></br>
  <input type="text" name="user"/>
  <br></br>
  Users password
  <br></br>
  <input type="password" name="pass"/>
  <br></br>
  <input type="submit" name="loginsubmit"/>
  </form>
  </div>
  <form th:action="@{/logout}" method="post" class = "logout">
     <input type="submit" value="Sign Out"/>
 </form>  <script src="js/scripts.js"></script>
</body>
</html>
