<!doctype html>

<html>
<head>
<meta charset="utf-8">

<title>Remove group from project</title>

<link rel="stylesheet" href="style.css">
</head>
<body class="usermenu">
  <div>
  <form action="adminList.html">
  Group name
  <br>
  <input type="text" name="Group">
  <br>
  Project name
  <br>
  <input type="text" name="Project">
  <br>
  <input type="submit" name="loginsubmit">
  </form>
  </div>
  <a href="login.html" class="logout">logout</a>
  <script src="js/scripts.js"></script>
</body>
</html>
