<!doctype html>

<html>
<head>
<meta charset="UTF-8"></meta>

<title>Scrum Menu</title>

</head>
<body class="usermenu ">
  <h1>Scrum Menu</h1>
  <div>
  <h4>Available projects</h4>
  <ul>
    <a href="sprints.html">Project 1</a>
  </ul>
  <ul>
    <a href="sprints.html">Project 2</a>
  </ul>
  <ul>
    <a href="sprints.html">Project 3</a>
  </ul>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <ul>
    <a href="adminList.html">admin</a>
  </ul>

  </div>
   <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out"/>
  </form>
</body>
</html>
