[Desktop Entry]
Encoding=UTF-8
Name=Link to (2) Test-Driven Development - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=dWayn0QsJr8
Icon=text-html
