[Desktop Entry]
Encoding=UTF-8
Name=Link to (2) What is Test Driven Development (TDD)? With an example - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=O-ZT_dtlrR0&t=281s
Icon=text-html
Name[en_US]=KOLLA MIG FÖRST -Link to (2) What is Test Driven Development (TDD)? With an example - YouTube
