[Desktop Entry]
Encoding=UTF-8
Name=Link to Unit Testing with JUnit - Tutorial
Type=Link
URL=http://www.vogella.com/tutorials/JUnit/article.html
Icon=text-html
