[Desktop Entry]
Encoding=UTF-8
Name=Link to Getting Started · Building Java Projects with Gradle
Type=Link
URL=https://spring.io/guides/gs/gradle/
Icon=text-html
