[Desktop Entry]
Encoding=UTF-8
Name=Link to Getting Started · Building an Application with Spring Boot
Type=Link
URL=https://spring.io/guides/gs/spring-boot/
Icon=text-html
