[Desktop Entry]
Encoding=UTF-8
Name=Link to Getting Started · Building a RESTful Web Service
Type=Link
URL=https://spring.io/guides/gs/rest-service/
Icon=text-html
