[Desktop Entry]
Encoding=UTF-8
Name=Link to Spring Boot Reference Guide
Type=Link
URL=https://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/
Icon=text-html
